
.inputs {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px ;
    align-items: center;
}

.inputs-top {
    display: flex;
}

.basic-inputs {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.date-inputs {
    display: flex;
    padding: 5px;
    flex-direction: column;
}

.goal-input {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.small-input {
    width: 200px;
}


.date-label {
    padding-bottom: 2px
}

textarea {
   height: 145px;
}

.goal-span {
    height: 145px;
}


input[type=date] {
    color: #999
}