
.inputs {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px ;
    align-items: center;
}

.inputs-top {
    display: flex;
}

.basic-inputs {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

input[type=date] {
    color: gray;
}
.date-inputs {
    display: flex;
    padding: 5px;
    flex-direction: column;
}

.goal-input {
    display: flex;
    flex-direction: column;
}

.small-input {
    width: 200px;
}

.large-input {
    width: 412px;
    height: 70px;
}

.date-label {
    padding-bottom: 2px
}

textarea {
    margin-bottom: 10px;
}
