/* centers form */
.inputs {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px ;
    align-items: center;
}

/* puts form in columns */
.inputs-top {
    display: flex;
}

/* spacing for first column */
.basic-inputs {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

/* spacing for second column */
.date-inputs {
    display: flex;
    padding: 5px;
    flex-direction: column;
}

/* spacing for third column */
.goal-input {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

/* set goal prepend height */
.goal-span {
    height: 145px;
}

/* Makes date placeholder color gray */
input[type=date] {
    color: #999
}