.progress-view {
    display: flex;
}

/* remove bullets from sidebar list */
ul {
    list-style: none;
}

/* sidebar list element styling */
li {
    margin-top: 5px;
    font-size: 16px;
}

/* change color on hover of students in sidebar */
li:hover {
    color: #24a0ed;
}

/* sidebar sizing */
.sidebar-card {
    width: 14rem;
    margin-top: 20px;
}

.progress-inputs {
    display: flex;
    flex-direction: column;
}

.profile-section {
    margin-left: 40px;
    margin-top: 20px;
}

.progress-form {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

/* textarea labels */
.textarea-span {
 height: 60px;
}

.progress-textarea {
    margin-bottom: 10px;
}

/* centers add session button */
.add-student-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.session-card {
    margin-top: 20px;
}

.content {
    margin-left: 20px;
}

/* centers calculator */
.calculator {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

/* calculator button spacing */
.calc {
    margin: 10px;
}

/* centers calculator results */
.results {
    font-size: 16px;
    font-style: italic;
    display: flex;
    justify-content: center;
}