.progress-view {
    display: flex;
}

ul {
    list-style: none;
}

li {
    font-size: 16px;
}

li:hover {
    color: #24a0ed;
}

.sidebar-card {
    width: 14rem;
    margin-top: 20px;
}

.progress-inputs {
    display: flex;
    flex-direction: column;
}

.profile-section {
    margin-left: 20px;
    margin-top: 20px;
}

.textarea-span {
 height: 60px;
}

.session-card {
    margin-top: 20px;
}
